@media (min-width: 320px) and (max-width: 575px) {
    
.card-container {
    position: static;
    margin-top: 50px;
  
}

.text-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 0 auto;
}

.icon3 {
    margin-left: 0px;
}
.row {
    --bs-gutter-x: 0px;
    
}
.banner-container {
    padding-top: 0px;

}

#header {
    height: auto;
    margin-bottom: 25px;
   
}




/*================ header ends ============*/

/* =============experience starts ===============*/
#experience {
    text-align: center;
}
.vector-1 {
  display: none;
}
.vector-2 {
  display: none;
}
.vector-3 {
   display: none;
}
.experience-wrapper .exp-img {

    position: static;
    width: 100%;

}


.right-part {
    height: 626px;
    background-color: rgba(251, 243, 240, .8);
    position: static;
    width: 100%;
    padding: 0px;
}

.right-part h2 {
width: 100%;
}

.right-part p {
    width: 100%;

}

#experience .container h1 {
    max-width: 100%;
    margin-bottom: 0px;
}

/*============= experience ends=================== */

/* ===============counting starts=============== */
.saper-image {
    display: none;
}
.cross-image {
 display: none;
}

#counting {
    margin-top: 630px;

}

.counting-nav-container {
 flex-direction: column;

}

.counting-nav-container h2 {
    width: 100%;
   

}

.text-wrapper-1 {
    padding: 10px;
    width: 100%;
}
.col-sm-5 img, .col-sm-7 img{
    width: 100%;
}

.container-override {
    text-align: center;
}

.btn {
    margin-bottom: 20px;
}
/* counting ends */

/*=============== counting-2 starts =========================*/
.saper-khela-12 {
  display: none;
}
.saper-khela-13 {
display: none;
}


.d-flex {
   flex-direction: column;
}
.item-1 {
    height: auto;
}
.item-2 {
    height: auto;
}

.left-part-counting-2 {
    padding: 20px;

}
.margin-left-part {
    margin-right: 0px;
}

.right-part-counting-2 h2 {
    text-align: center;
}

#counting-2 {
    padding-top: 0px;
}

}