*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1408px;
    margin: 0 auto;
}

#header{
    background-image: url('./images/Group\ 1000007202.png');
    height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 280px;
}

.bg-light{
    background-color: transparent !important;
}

.icon3{
    margin-left: 48px;
}

.text-align{
  display: flex;
  align-items: center;
}


.btn{
    padding: 14px 28px 14px 28px;
    border-radius: 18px;
    border: none;
    color: #fff;
    font-size: 16px;
}
.btn-primary{
    background-color:#FF5538
}

.no-bg{
    background-color: transparent !important;
    border: 1px solid #FF5538;
    color: #FF5538;
}

.banner-container{
    padding-top: 200px;
    text-align: center;
    position: relative;
}

.side-span{
    position: absolute;
    top: 50px;
    left: -180px;
    font-size: 16px;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    color:#29313D;
}
   
.banner-container h1{
       text-transform: capitalize;
       font-size: 64px;
       font-weight: 700;
       color: #29313D;
       margin-bottom: 24px;
}

.banner-container P{
       text-transform: capitalize;
       font-size: 18px;
       font-weight: 400;
       color: #29313D;
       margin-bottom: 44px;
       
}
.indicator {
    position: absolute;
    bottom: -150px;
    left: -169px;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card{
    max-width: 450px;
    min-height: 327px;
    border-radius: 0px;
    /* width: 100%; */
    border: none;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, .2);
}

.gap{
    gap: 24px;
}

.card-body{
    padding: 0px;
}

.card-p{
  padding: 30px 40px 30px 40px;
}

.card-m{
    margin-top: 30px;
    margin-bottom: 16px;
}

.centering_cards{
    position: relative;
}

.card-container{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -80%;
    width: 100%;
        }

        /*======================= header ends ==========================*/
        #experience{
            height: 805px;
            position: relative;
        }

        .vector-1{
            position: absolute;
            top: 80px;
            right: 84px;
        }

#experience .container h1{
    max-width: 450px;
    margin-bottom: -100px;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
}


#experience .container h6{
    text-transform: capitalize;
    padding-bottom: 20px;
    color:#FF5538
}

.experience-wrapper{
    position: relative;
    height: 626px;
 
  
}
.vector-3{
    position: absolute;
    top: 60px;
    left: 755px;
}

.experience-wrapper .exp-img{
    height: 521px;
    position: absolute;
    top: 25%;
    width: 53%;
    z-index: 999;
}

.right-part{
    height: 626px;
    background-color: rgba(251, 243, 240, .8);
    position: absolute;
    top: 100px;
    right: 0px;
    width: 50%;
    padding: 100px 325px 100px 185px;
}
.vector-2{
    position: absolute;
    right: 0px;
    top: 265px;
}
.right-part h2{
    margin-bottom: 20px;
    width: 520px;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
}

.right-part p{
    width: 501px;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}
/* ==============experience ends========================== */
