*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1408px;
    margin: 0 auto;
}

#header{
    background-image: url('./images/Group\ 1000007202.png');
    height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 280px;
}

.bg-light{
    background-color: transparent !important;
}

.icon3{
    margin-left: 48px;
}

.text-align{
  display: flex;
  align-items: center;
}


.btn{
    padding: 14px 28px 14px 28px;
    border-radius: 18px;
    border: none;
    color: #fff;
    font-size: 16px;
}
.btn-primary{
    background-color:#FF5538
}

.no-bg{
    background-color: transparent !important;
    border: 1px solid #FF5538;
    color: #FF5538;
}

.banner-container{
    padding-top: 200px;
    text-align: center;
    position: relative;
}

.side-span{
    position: absolute;
    top: 50px;
    left: -180px;
    font-size: 16px;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    color:#29313D;
}
   
.banner-container h1{
       text-transform: capitalize;
       font-size: 64px;
       font-weight: 700;
       color: #29313D;
       margin-bottom: 24px;
}

.banner-container P{
       text-transform: capitalize;
       font-size: 18px;
       font-weight: 400;
       color: #29313D;
       margin-bottom: 44px;
       
}
.indicator {
    position: absolute;
    bottom: -150px;
    left: -169px;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card{
    max-width: 450px;
    min-height: 327px;
    border-radius: 0px;
    /* width: 100%; */
    border: none;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, .2);
}

.gap{
    gap: 24px;
}

.card-body{
    padding: 0px;
}

.card-p{
  padding: 30px 40px 30px 40px;
}

.card-m{
    margin-top: 30px;
    margin-bottom: 16px;
}

.centering_cards{
    position: relative;
}

.card-container{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -80%;
    width: 100%;
        }

        /*======================= header ends ==========================*/
        #experience{
            height: 805px;
            position: relative;
        }

        .vector-1{
            position: absolute;
            top: 80px;
            right: 84px;
        }

#experience .container h1{
    max-width: 450px;
    margin-bottom: -100px;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
}


#experience .container h6{
    text-transform: capitalize;
    padding-bottom: 20px;
    color:#FF5538
}

.experience-wrapper{
    position: relative;
    height: 626px;
 
  
}
.vector-3{
    position: absolute;
    top: 60px;
    left: 755px;
}

.experience-wrapper .exp-img{
    height: 521px;
    position: absolute;
    top: 25%;
    width: 53%;
    z-index: 999;
}

.right-part{
    height: 626px;
    background-color: rgba(251, 243, 240, .8);
    position: absolute;
    top: 100px;
    right: 0px;
    width: 50%;
    padding: 100px 325px 100px 185px;
}
.vector-2{
    position: absolute;
    right: 0px;
    top: 265px;
}
.right-part h2{
    margin-bottom: 20px;
    width: 520px;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
}

.right-part p{
    width: 501px;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}
/* ==============experience ends========================== */

/*====================== counting starts============================= */
#counting{
    margin-top: 120px;
    position: relative;
    margin-bottom: 240px;
}
.saper-image{
    position: absolute;
    top: -351px;
    left: 0px;
}
.cross-image{
    position: absolute;
    bottom: 0px;
    right: 100px;
}


.counting-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.item-1{
    height: 458px;
}

.item-2{
    height: 458px;
}

.text-wrapper-1{
    padding: 30px 385px 30px 30px;
    /* width: 575px; */
    max-width: 100%;
}

.text-wrapper-1 h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-transform: capitalize;
}
.text-wrapper-1 p{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FF5538;
    text-transform: capitalize;
}
.text-wrapper-2{
padding: 30px 30px 30px 30px;
/* width: 810px; */
max-width: 100%;
}

.text-wrapper-2 p{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FF5538;
    text-transform: capitalize;
}

.margin-text{
    margin-top: 156px;
}



.counting-nav-container h2{
    width: 700px;
    font-weight: 500;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 60px;
}

#counting h6{
     text-transform: capitalize;
    color:#FF5538
}

.box-shadow{
    box-shadow: 0px -9px 40px 0px rgbA(26, 19, 62, 0.06);
    /* border: 1px solid #a10a0a; */
}

.container-override{
    --bs-gutter-x: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
   margin: 0 auto;
}

.btn-transparent{
    background-color: transparent;
    border: 1px solid #FF5538;
    color: #FF5538;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    
}

/* ============================counting ends ================================*/


/* ========================counting-2 starts ================================= */
#counting-2{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color:#FDF9F8;
    position: relative;
}

.saper-khela-11{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.saper-khela-12{
    position: absolute;
    top: 240px;
    left: 80px;
    z-index: 999;
}

.saper-khela-13{
    position: absolute;
    top: 370px;
    left: 100px;
}
.item-5{
    width: 259px;
    height: 230px;
    background-color:#fff;
    padding: 74px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .025);
    position: relative;
    z-index: 999;
}
.gap-5{
    gap:30px !important;
}
.margin-row-bottom-counting{
      margin-bottom: 30px;
}

.counting-flex-2{
    display: flex;
    justify-content: space-between;
}



.right-part-counting-2 h2{
    max-width: 570px;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 20px;
}

.right-part-counting-2 p{
    max-width: 550px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}

.margin-left-part{
    margin-right: 100px;
}

/*====================================== conting-2 ends======================= */

